<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</head>
  </head>
  <body>
    <h1>About | Ruby on Rails Tutorial Sample App</h1>
    <p>
    Ruby on Railsチュートリアルのサンプルサイトです。
  </body>
</p>
</html>
